.form-group{
    display: flex;
    flex-direction: column;

    margin-bottom: 25px;

    position: relative;
    
}

.form-group label{
    padding-bottom: 10px;
}

.form-group input{
    width: 50vh;
    padding: 8px;
    border: 1px solid #79767C;
    border-radius: 5px;
}

.form-group input:focus{
    border: 1px solid #008B28;
    outline-offset: 0px;
    outline: none;
}
